* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 1rem;
}

.quote-block { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    background-color: #ccc;
    border-radius: 10px;
    padding: 1rem;
    min-height: 10rem;

    .quote {
        font-size: larger;
        font-family: 'Times New Roman', Times, serif;
    }

    .author-quote {
        display: flex;
        justify-content: flex-end;
    }
}

button {
    margin: 1rem 0;
    padding: 5px 10px;
    font-size: 1rem;
}